html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: $color-100;
  height: 100vh;
}

body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding-top: 250px;
  max-width: 1280px;
  padding: 250px 2% 0;

  @media (max-width: 1279px) {
    padding: 250px 5% 0;
  }

  @media (max-width: 768px) {
    padding: 100px 5%;
  }
}
