<template>
  <div class="converter">
    <input aria-label="Left Value" type="number" v-model="leftValue" step="any">
    <div class="auto-suggest auto-suggest-left" :data-name="name(leftUnit)">
      <input aria-label="Left Unit" v-model="leftUnit" type="text" @focus="openLeftSuggestions">
      <div class="suggestion-list" v-show="leftIsOpen">
          <button class="suggestion-close" @click="closeLeftSuggestions"><svg viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.615234" y="2.02943" width="2" height="50" transform="rotate(-45 0.615234 2.02943)" fill="#231E10"/>
<rect x="35.9706" y="0.615219" width="2" height="50" transform="rotate(45 35.9706 0.615219)" fill="#231E10"/>
</svg></button>
          <div class="suggestion-search-container">
            <svg class="suggestion-search-icon" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="16" cy="16" r="15" stroke="#231E10" stroke-width="2"/>
<rect x="25" y="27.4142" width="2" height="25" transform="rotate(-45 25 27.4142)" fill="#231E10"/>
</svg>
          <input aria-label="Search Unit" v-model="leftUnit" type="text" class="suggestion-search">
          </div>
          
          <button v-for="suggestion in availableLeftUnits" :key="suggestion" @click="selectLeftSuggestion(suggestion)" class="suggestion-button" :data-name="name(suggestion)">{{suggestion}}</button>
          <p class="seperator"></p>
          <button v-for="suggestion in allUnits" :key="'all-' + suggestion" @click="selectLeftSuggestionAll(suggestion)" class="suggestion-button" :data-name="name(suggestion)">{{suggestion}}</button>
      </div>
  </div>

    <svg viewBox="0 0 63 35" fill="none" xmlns="http://www.w3.org/2000/svg" class="exchange-seperator">
    <path d="M63 17.5L36.75 32.6554V2.34456L63 17.5Z"/>
    <path d="M0 17.5L26.25 2.34455L26.25 32.6554L0 17.5Z"/>
    </svg>

    <input aria-label="Right Value" type="number" v-model="rightValue" step="any">
    <div class="auto-suggest auto-suggest-right" :data-name="name(rightUnit)">
      <input aria-label="Right Unit" v-model="rightUnit" type="text" @focus="openRightSuggestions">
      <div class="suggestion-list" v-show="rightIsOpen">
        <button class="suggestion-close" @click="closeRightSuggestions"><svg viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.615234" y="2.02943" width="2" height="50" transform="rotate(-45 0.615234 2.02943)" fill="#231E10"/>
<rect x="35.9706" y="0.615219" width="2" height="50" transform="rotate(45 35.9706 0.615219)" fill="#231E10"/>
</svg></button>
          <div class="suggestion-search-container">
            <svg class="suggestion-search-icon" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="16" cy="16" r="15" stroke="#231E10" stroke-width="2"/>
<rect x="25" y="27.4142" width="2" height="25" transform="rotate(-45 25 27.4142)" fill="#231E10"/>
</svg>
          <input v-model="rightUnit" aria-label="Search Unit" type="text" class="suggestion-search">
          </div>
          <button v-for="suggestion in availableRightUnits" :key="suggestion" @click="selectRightSuggestion(suggestion)" class="suggestion-button" :data-name="name(suggestion)">{{suggestion}}</button>
      </div>
  </div>
  </div>
</template>

<script>
import convert from "convert-units"
export default {
  data() {
    return {
      leftValue: 0,
      leftUnit: "",
      rightValue: 0,
      rightUnit: "",
      rightIsOpen: false,
      leftIsOpen: false
    }
  },
  methods: {
    updateRightValue() {
      if (this.leftUnit !== "") {
        this.rightValue = convert(this.leftValue).from(this.leftUnit).to(this.rightUnit)
      }
    },
    updateLeftValue() {
      if (this.rightUnit !== "") {
        this.leftValue = convert(this.rightValue).from(this.rightUnit).to(this.leftUnit)
      }
    },
    selectRightSuggestion(suggestion) {
          this.rightUnit = suggestion;
          this.updateRightValue()
          this.updateLeftValue()
          this.rightIsOpen = false;
    },
    selectLeftSuggestion(suggestion) {
      this.leftUnit = suggestion;
      this.updateRightValue()
      this.updateLeftValue()
      this.leftIsOpen = false;
    },
    selectLeftSuggestionAll(suggestion) {
      this.leftUnit = suggestion;

      this.rightUnit = convert().from(this.leftUnit).possibilities()[0]
      this.updateRightValue()
      this.updateLeftValue()
      this.leftIsOpen = false;
    },
    updateRightUnit() {
      try {
        convert().from(this.leftUnit)
        this.updateRightValue()
      } catch {
        try {
          this.rightUnit = convert().from(this.leftUnit).possibilities()[0]
          this.updateRightValue()
        } catch{} 
        
      }
    },
    updateRight() {
      try {
        convert().from(this.rightUnit)
        this.updateRightValue();
      } catch {

      }
    },
    openRightSuggestions() {
          this.rightIsOpen = true
          this.rightUnit = ""
    },
    closeRightSuggestions() {
          this.rightIsOpen = false
    },
    openLeftSuggestions() {
          this.leftIsOpen = true
          this.leftUnit = ""
    },
    closeLeftSuggestions() {
          this.leftIsOpen = false
    },
    name(unit) {
      if (unit == "") return ""
      try {
      return convert().describe(unit).singular
      } catch {
        return ""
      }
    }
  },
  computed: {
    availableRightUnits() {
      try {
        let all = convert().from(this.leftUnit).possibilities()
        return all.filter(unit => {
          return unit.includes(this.rightUnit.toLowerCase()) || this.name(unit).toLowerCase().includes(this.rightUnit.toLowerCase())
        })
      } catch {}
      
    },
    availableLeftUnits() {
      try {
        let all = convert().from(this.rightUnit).possibilities()
      return all.filter(unit => {
        return unit.includes(this.leftUnit.toLowerCase()) || this.name(unit).toLowerCase().includes(this.leftUnit.toLowerCase())
      })  
      } catch {
        return []
      } 
    },
    allUnits() {
      let all = convert().possibilities()
      let filtered = all.filter(unit =>  {
        return !this.availableLeftUnits.includes(unit)
      }).filter(unit => {
        return unit.includes(this.leftUnit.toLowerCase()) || this.name(unit).toLowerCase().includes(this.leftUnit.toLowerCase())
      })
      return filtered
    },
  },
  watch: {
    leftValue() {
        this.updateRightValue()
    },
    rightValue() {
        this.updateLeftValue()
    },
    leftUnit() {
      this.updateRightUnit()
    },
    rightUnit() {
      this.updateRight()
    }
  },
  created() {
    this.leftUnit = convert().possibilities()[0]
    this.rightUnit = this.availableRightUnits[0]
  },
  mounted() {
    let leftSuggestion = document.querySelector(".auto-suggest-left")
    let rightSuggestion = document.querySelector(".auto-suggest-right")

    document.addEventListener("click", e => {
      if (!leftSuggestion.contains(e.target)) {
        this.leftIsOpen = false
      }
    })

    document.addEventListener("click", e => {
      if (!rightSuggestion.contains(e.target)) {
        this.rightIsOpen = false
      }
    })

  }
}
</script>

<style lang="scss">
input {
  padding: 12px 8px;
  height: 54px;
  border-radius: 0;
  border: none;
  background: $color-300;
  color: $color-900;
  @include font-medium;
  font-size: 24px;
  width: 100%;
}

input[type=text] {
  padding: 10px 8px 26px;
  font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.converter {
  display: grid;
  grid-template-columns: 25% 20% 5% 25% 20%;
  grid-column-gap: 2%;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 5%;
  }
}

.auto-suggest {
    width: 100%;
    position: relative;

    &:after {
      content: attr(data-name);
      position: absolute;
      top: 32px;
      left: 8px;
      @include font-light;
      font-size: 12px;
      color: $color-700;
  }

}

.suggestion-list {
    position: absolute;
    top: 54px;
    padding-top: 0px;
    margin-top: 20px;
    left: 0;
    width: 100%;
    height: 300px;
    background: $color-300;
    z-index: 100;
    overflow-y: scroll;
    
    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      margin-top: 0;
      padding: 50px 16px;
    }
}

.suggestion-button {
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: $color-900;
    padding: 10px 8px 26px;
    position: relative;

     &:after {
      content: attr(data-name);
      position: absolute;
      top: 32px;
      left: 8px;
      @include font-light;
      font-size: 12px;
      color: $color-700;
  }

    &:hover {
        background: $color-400;
    }
}

.suggestion-search-container {
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: relative;
    margin-bottom: 10px;
  }
}

.suggestion-search-icon {
  position: absolute;
  top: 14px;
  left: 10px;
  width: 25px;
  height: auto;
}

.suggestion-search {
  background: $color-200;
  padding: 18px 8px 18px 45px !important;
}

.suggestion-close {
  height: 50px;
  width: 50px;
  padding: 8px;
  margin-bottom: 20px;
  background: none;
  border: none;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.seperator {
  width: 40px;
  background: $color-700;
  height: 2px;
  margin: 10px auto;
}

.exchange-seperator {
  display: block;
  width: 100%;
  height: auto;
  fill: $color-700;
  position: relative;

  @media (max-width: 768px) {
    width: 50px;
    height: 70px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
    transform: rotate(90deg);


  }

}




</style>
