<template>
    <div class="logo">
        <h1 class="logo-title">Convert</h1>
    </div>
    
</template>

<style lang="scss">
    .logo {
        margin: 0 auto;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-title {
        @include font-medium;
        font-size: 128px;

    @media (max-width: 768px) {
        font-size: 64px;
    }

    }
</style>