<template>
  <div>
  <logo />

  <div class="container">
      <converter />
  </div>
  </div>
</template>

<script>
import Converter from '~/components/Converter.vue'
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Converter,
    Logo
  }
}
</script>

<style>
</style>
